@import '../../styles/index';

// <!--[if gte IE 9]>
//     <style type="text/css">
//         #headerrow th, #summary td{
//             filter: none;
//         }
//     </style>
// <![endif]-->

h3 {
  color: #eeeeee;
  text-shadow: #3d3d3d 1px 1px 1px;
}
p {
  color: #b0aeac;
}
.outer-wrapper {
  margin: 0px auto 20px auto;
  width: 100%;
  max-width: 640px;

  .inner-wrapper {
    margin: 2em auto;
    text-align: left;
  }
}
