@import '../styles/index';

.friend-status {
  i {
    padding-right: 0.5em;

    &.fa-ban {
      color: #ff6c00;
    }
    &.fa-circle {
      color: green;
    }
    &.fa-adjust {
      color: #ffd100;
    }
    &.fa-question-sign {
      color: gray;
    }
  }

  .friend-current-game {
    font-weight: bold;
    line-height: 1.5em;
  }
}
